.span{
    text-align: center;
    color: grey;
    height: 10px;
}
.list{
    width: 100%;
    
}
.font{
    font-size: 100%;
    padding: 900px; 
}
.text{
    text-align: center;   
    background-color: #f1f1f1;
}